<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>893874677591-0j3dk04ci49v3n82cjjkkuv0j52c5iqt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893874677591-0j3dk04ci49v3n82cjjkkuv0j52c5iqt</string>
	<key>API_KEY</key>
	<string>AIzaSyCSDe7iy1zdyTg8oS8ke3kx6vNqLUr7gDA</string>
	<key>GCM_SENDER_ID</key>
	<string>893874677591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yanipel.StructureApp</string>
	<key>PROJECT_ID</key>
	<string>structureapp-d5f36</string>
	<key>STORAGE_BUCKET</key>
	<string>structureapp-d5f36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893874677591:ios:7c514bad7a20d28ecc4012</string>
</dict>
</plist>